#window_decoration {
  background: #252525;
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 1800;
  justify-content: space-between;
  -webkit-app-region: drag;
  border-bottom: 1px solid #151515;

  .window_decoration__shelf {
    margin: 0 1em;
    font-size: 150%;
  }

  .window_decoration__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    button {
      background: none;
      border: 0;

      &:hover,
      &:focus {
        background: none;
        outline: 0;
      }
    }

    .window_decoration__controls__maximize {
      height: 28px;
      width: 28px;
      margin-right: 1em;
      transition: border-color .15s ease-in;
      position: relative;
      overflow: hidden;
      border: 2px solid #888;

      &:hover {
        border-color: #fff;
      }
    }

    .window_decoration__controls__minimize {
      height: 28px;
      width: 28px;
      margin-right: 1em;
      transition: border-bottom-color .15s ease-in;
      position: relative;
      overflow: hidden;
      border-bottom: 2px solid #888;

      &:hover {
        border-bottom-color: #fff;
      }
    }

    .window_decoration__controls__close {
      position: relative;
      width: 32px;
      height: 32px;
      margin-right: 1em;
      overflow: hidden;

      &:hover {
        &::before, &::after {
          background: #fff;
        }
      }

      &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        height: 2px;
        margin-top: -1px;
        left: 0;
        transition: background .15s ease-in;
        background: #888;
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}