.context-menu {
  position: absolute;
  border-radius: 8px;
  background: #202020;
  border: 1px solid #151515;
  padding: 0;
  z-index: 1900;
  list-style: none;
  width: 200px;
  margin: 0;
  font-size: 90%;
  min-width: 200px;
  max-width: 200px;

  li {
    padding: 0.5em;
    transition: background .2s ease-in-out;
    border-radius: 8px;

    &:active,
    &:focus,
    &:hover {
      background: #252525;
    }
  }
}