.window-overlay {
  z-index: 1850;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: overlay-background .1s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;

  &.translucent {
    animation: none;
  }
}

.window-dialog {
  background: #303030;
  padding: 1em;
  text-align: center;
  transition: opacity .1s;
  max-width: 350px;
  animation: dialog-enter .3s ease-in-out forwards;

  .loading-dot {
    display: none;
  }

  &.locked {
    user-select: none;
    opacity: 0.6;

    .loading-dot {
      display: block;
      border-radius: 50%;
      position: absolute;
      height: 12px;
      opacity: 1;
      /*background: #fff;*/
      font-size: 140%;
      top: calc(50% - 6px);
      left: 1em;
      width: 12px;
      animation: loading-dot 3s ease infinite;
    }
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #1fad21;
    font-size: 115%;
  }

  small {
    display: block;
    font-size: 90%;
    color: #427af4;
  }

  input {
    background: #404040;
    border: 1px solid #353535;
    border-radius: 4px;
    color: #fff;
    padding: 1em;
    width: 250px;
    margin: 1em 0 0;

    &,
    &:active,
    &:hover,
    &:focus {
      outline: 0;
      border: 0;
    }
  }

  span {
    display: block;
    margin-top: 4px;
    margin-bottom: 1em;
    font-size: 80%;
    text-align: left;
    color: rgba(255, 0, 0, 0.6);
    margin-left: 2.7em;
  }

  footer {
    margin: 0 -1em -1em;
    border-top: #202020 1px solid;
    padding: 0.75em 1em;
    background: #252525;
    text-align: right;

    button {
      background: #3edd68;
      padding: 0.75em 1em;
      transition: background .2s;
      font-size: 95%;
      border-radius: 3px;
      color: #fff;

      &,
      &:active,
      &:hover,
      &:focus {
        outline: 0;
        border: 0;
      }

      &:active,
      &:hover,
      &:focus {
        background: #22c125;
      }

      &.grey {
        background: #f45942;
        color: #fff;
        margin-right: 1em;
      }

      &.grey:hover,
      &.grey:active,
      &.grey:focus {
        background: #ce4935;
      }
    }
  }
}

@keyframes overlay-background {
  from {
    background: transparent;
  }

  to {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes loading-dot {
  90% {
    opacity: 1;
  }

  100% {
    left: calc(100% - 2em);
    opacity: 0;
  }
}

@keyframes dialog-enter {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}