body, html {
  margin: 0;
  color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  background: #242424;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Liberation', 'Helvetica', sans-serif;
  overflow: hidden;
}