.profile {
  .video-container {
    height: calc(100vh - 65px - 65px - 9px);
    width: calc(100vw - 65px);
    background: #000;
    position: relative;

    video {
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .controls {
      opacity: 0;
      user-select: none;
      user-focus: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 1em;
      transition: opacity .2s ease-in-out;

      .hasIcon {
        width: 48px;
        height: 48px;
        border: 0;
        outline: 0;
        opacity: 0.6;
        transition: opacity .2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover {
      .controls {
        opacity: 1;
        user-focus: initial;
      }
    }
  }

  .info {
    height: 65px;
    max-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 1.5em;
    background: #252525;

    .title {
      h1 {
        font-size: 24px;
        margin: 0;
      }

      p {
        margin: 2px 0;
        color: #666;
      }
    }

    .a-center {
      display: flex;
      align-items: center;

      img {
        height: 24px;
        width: 24px;
        margin-right: 3px;
        margin-left: 6px;
        display: block;
      }
    }
  }
}