#window_tabs {
  background: #202020;
  width: 65px;
  height: 100vh;
  z-index: 1800;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  .icon {
    border-radius: 50%;
    margin-top: 8px;
    background: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-radius .15s;
    width: 50px;
    height: 50px;
    animation: tab_icon_mouse_out .4s;

    &:hover,
    &.active {
      animation: tab_icon_hovered .4s ease-in-out forwards;
    }

    span {
      font-size: 175%;
      line-height: 175%;
    }
  }
  
  .dashed_icon {
    border: 1px dashed #3A3A3A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 8px;
	color: #3A3A3A;
    padding: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    user-select: none;
    transition: border-color .25s ease,
	            color .25s ease;
	
	&:hover,
	&:active,
	&:focus {
	  color: #fff;
	  border-color: #fff;
	}
  }

  .less_circle {
    border-radius: 20px;
    animation: tab_icon_mouse_out_less .4s;

    &:hover,
    &.active {
      animation: tab_icon_hovered_less .4s ease-in-out forwards;
    }
  }

  label {
    font-weight: 400;
    display: block;
    font-size: 70%;
    color: #666;
    user-select: none;
    text-transform: uppercase;
    margin-top: 0.5em;
  }

  .separator {
    background: #3A3A3A;
    height: 1px;
    width: 45%;
    margin-top: 0.5em;
  }
}

#window_tabs ~ #window_decoration {
  width: calc(100vw - 65px);
}

.window_container {
  display: flex;
}

#window_content {
  position: absolute;
  top: 65px;
  left: 65px;
  right: 0;
  bottom: 0;
}

.tab {
  display: none;
  height: 100%;
  width: 100%;
  overflow: auto;
  
  &.activetab {
	display: block;
  }
}

@keyframes tab_icon_hovered {
  0% {
    border-radius: 50%;
  }
  60% {
    border-radius: 10px;
  }
  100% {
    border-radius: 16px;
  }
}

@keyframes tab_icon_hovered_less {
  0% {
    border-radius: 24px;
  }
  60% {
    border-radius: 10px;
  }
  100% {
    border-radius: 16px;
  }
}

@keyframes tab_icon_mouse_out {
  from {
    border-radius: 16px;
  }
  to {
    border-radius: 50%;
  }
}

@keyframes tab_icon_mouse_out_less {
  from {
    border-radius: 16px;
  }
  to {
    border-radius: 20px;
  }
}